html{
    scroll-behavior: smooth;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #F9E2E0;
    background-color: #665D5C;
}

/* header */
header {
    display: flex;
    height: 40em;
    border: solid #630E01;
    background-color: #0F0D0D;
    color: #f8efee;
    margin: auto;
    padding: 5em;
    opacity: 0.8;
}

.headtext {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    align-items: center;
}

.headpic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}

.headpic img {
    height: 550px;
    opacity: 0.9;
    border-radius: 10%;
}

.headdesc {
    display: flex;
    height: 90%;
    width: 33%;
    align-items: flex-end;
    font-style: italic;
}
/* ----------------------- */

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    background-color: #630E01;
    flex-direction: row;
    flex-wrap: wrap;
    height: 5em;
}
.navbutton{
    margin: auto;
    display: flex;
    height: 190%;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
}
.navbar a{
    color: #f8efee;
}
div.navbutton:hover{
    background-color: black;
    opacity: 0.5;
}
.navbutton span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* ---------- */
main {
    display: flex;
    height: 100em;
    border: solid #630E01;
    flex-flow: column;
}

.aboutme {
    display: flex;
    height: 40em;
    padding: 20px;
    margin: auto;
    border: solid #630E01;
    align-items: center;
}

.projdesc{
    display: flex;
    height: 15em;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
}
.projects {
    display: flex;
    height: 100%;
    border: solid #630E01;
    flex-flow: column wrap;
}

.proj {
    border: solid #630E01;
}

#mainp {
    display: flex;
    height: 100%;
    justify-content: center;
    background-image: url("../images/Screen\ Shot\ SEO.png");
    align-items: center;
}
#mainp:hover{
    background-color: #665d5c5d;
    opacity: 0.3;
}
#mainp:hover h3{
    font-size: 30px;
}
#mainp:active{
    background-color:#000000;
    opacity: 0.1;
}

#secp {
    height: 100%;
}

#smallproj1, #smallproj2 {
    height: 50%;
}
#smallproj1{
    background-image: url("../images/preworksh.png");
}
#smallproj2{
    background-image: url("../images/pracsitesh.png");
}
#smallproj1:hover{
    background-color: #665d5c5d;
    opacity: 0.6;
}
#smallproj2:hover{
    background-color: #665d5c5d;
    opacity: 0.6;
}
#smallproj1:active{
    background-color:#000000;
    opacity: 0.1;
}
#smallproj2:active{
    background-color:#000000;
    opacity: 0.1;
}


/* footer */
footer {
    display: flex;
    height: 20em;
    padding: 5em;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 2em;
}
.clink{
    margin: auto;
    padding: 2em;
    font-size: 20px;
    text-decoration: none;
}
/* ------------------ */

a{
    color: #630E01;
}
a:hover{
    text-decoration: underline;
}